nav {
  a {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 12px 32px;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(244,246,249,.5);
    }
  }

  div div {
    a {
      font-weight: 400;
      letter-spacing: 0;
      padding: 12px 52px;
      text-transform: none;
    }
  }
}
